* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/*preloader start*/

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: #455a64;
}

.loader-container {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.loader-animation, .loader-animation:after {
  border-radius: 100%;
  width: 10em;
  height: 10em;
}

.loader-animation {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(224, 224, 224, 0.2);
  border-right: 1.1em solid rgba(224, 224, 224, 0.2);
  border-bottom: 1.1em solid rgba(224, 224, 224, 0.2);
  border-left: 1.1em solid #e0e0e0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*preloader end*/

.dropdown-content {
  min-height: max-content !important;
}


/*typedjs*/

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.brand-logo {
  font-size: 2.3vmax !important;
}


/*Intro*/

.intro {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  /*Neat Background*/
  background: linear-gradient(224deg, #212121, #424242, #616161, #757575, #9e9e9e);
  background-size: 1000% 1000%;
  -webkit-animation: robo_animate 25s ease infinite;
  -moz-animation: robo_animate 25s ease infinite;
  -o-animation: robo_animate 25s ease infinite;
  animation: robo_animate 25s ease infinite;
}

@-webkit-keyframes robo_animate {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes robo_animate {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes robo_animate {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@keyframes robo_animate {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

.intro-text-large {
  font-size: 4vmax !important;
}
.intro-text-small {
  font-size: 3.5vmax !important;
}
